<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li class="active">Memberships</li>
</ol>

<h3><%= @project.name %>: Manage Members</h3>

<div class="well">


<%= form_for [@project, @membership] do |f| %>

<div class="form-group">
  <%= f.collection_select :user_id, User.all, :id, :full_name, {include_blank: "Please select a user"}, {class: "form-control"} %>
</div>

<div class="form-group">
  <%= f.select :role, options_for_select(["Member", "Owner"]), {include_blank: false}, {class: "form-control"} %>
</div>


<%= f.submit "Add New Member", class: "btn btn-info btn-sm" %>

<% end %>

</div>

    <% @memberships.each do |membership| %>
    <tr>
      <td><%= membership.id %></td>
      <td><%= membership.role %></td>
      <td>
          <%= link_to 'Update', project_memberships_path, class: 'btn btn-info btn-sm' %>
      </td>

    </tr>
    <% end %>

<br>
