
<div class="page-header">

  <h3><%= @project.name %>: Manage Members</h3>

  <ol class="breadcrumb">
    <li><%= link_to "Projects", projects_path %></li>
    <li><%= link_to @project.name, project_path(@project) %></li>
    <li class="active">Memberships</li>
  </ol>

</div>


<% if @membership.errors.present? %>
<div class="form-group">
  <div class="col-sm-4 alert alert-danger">
    <strong><%= pluralize(@membership.errors.count, "error") %> prohibited this form from being saved:</strong>
    <ul>
      <% @membership.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>
<br><br><br><br><br>
<% end %>


<%= form_for [@project, @membership] do |f| %>

<div class="well form-inline col-sm-5">

  <div class="form-group">
    <%= f.collection_select :user_id, User.all, :id, :full_name, {include_blank: "Please select a user"}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.select :role, ["Member", "Owner"], {include_blank: false}, {class: "form-control"} %>
  </div>

  <%= f.submit "Add New Member", class: "btn btn-info btn-sm" %>

  <% end %>
</div>


<table class="table table-condensed">
  <tbody>
    <% @project.memberships.each do |membership| %>
    <%= form_for [@project, membership] do |f| %>

    <tr>
      <td class="col-md-2"><%= membership.user.full_name %></td>

      <td class="col-md-1"><%= f.select :role, ["Member", "Owner"], {include_blank: false}, {class: "form-control"} %></td>

      <td class="col-md-1">
        <%= f.submit "Update", class: "btn btn-info btn-sm" %>
      </td>

      <td>
        <%= link_to "", project_membership_path(@project, membership), method: :delete, data: { confirm: 'Are you sure?'},
        class: "glyphicon glyphicon-remove" %>
      </td>
    </tr>

    <% end %>
    <% end %>
  </tbody>
</table>
