<div class="page-header">
  <div class="pull-right">
     (Showing first 500)
  </div>

  <h3>Stories for <%= @name %> </h3>

</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="40%">Story</th>
      <th width="20%">Estimate</th>
      <th width="20%">Labels</th>
      <th width="20%">Current State</th>
    </tr>

  </thead>

  <tbody>
    <% @tracker_stories.each do |story| %>
    <tr>
      <td><%= link_to story[:name], story[:url] %></td>
      <td><%= story[:estimate] %></td>
      <td>
        <% @labels = [] %>
        <% story[:labels].each do |label| %>
        <% "#{@labels << label[:name]}" %>
        <% end %>
        <%= @labels.join(', ') %>
      </td>
      <td><%= story[:current_state] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
