

<div class="page-header">
  <h3><%= title %></h3>
</div>

<%= form_for [@project, @task], html: {class: "form-horizontal"} do |f| %>


<% if @task.errors.any? %>
<div class="form-group">
  <div class="col-sm-offset-1 col-sm-4">
    <div class="alert alert-danger">
      <strong><%= pluralize(@task.errors.count, "error") %> prohibited this form from being saved:</strong>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% end %>


<div class="form-group">
  <%= f.label :description, class: "col-sm-1 control-label" %>
  <div class="col-sm-4">
    <%= f.text_field :description, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :date, class: "col-sm-1 control-label" %>
  <div class="col-sm-4">
    <%= f.date_field :date, class: "form-control" %>
  </div>
</div>


<% if @edit_task == true %>

<div class="form-group">
  <div class="col-sm-offset-1 col-sm-10">
    <%= f.check_box :complete, class: "checkbox-inline" %>
    <%= f.label :complete %>
  </div>
</div>

<% end %>




<div class="form-group">
  <div class="col-sm-offset-1 col-sm-10">
    <%= f.submit class: 'btn btn-info btn-sm' %>
    <%= link_to "Cancel", project_tasks_path, class: 'btn btn-default btn-sm' %>
  </div>
</div>

<% end %>
