<div class="container">


<h3>Tasks</h3>


<div class="pull-right">
  <%= link_to "All", tasks_path(type: "all") %> |
  <%= link_to "Incomplete", tasks_path(type: "incomplete") %> |
<%= link_to 'Create Task', new_task_path, class: 'btn btn-info btn-sm' %>
</div>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Description</th>
      <th>Complete</th>
      <th>Due Date</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="col-md-6"><%= task.description %></td>
        <td class="col-md-1"><%= task.complete %></td>
        <td class="col-md-1"><%= task.date %></td>


      <td class="col-md-3">
       <div class="pull-right">
          <%= link_to 'Show', task, class: 'btn btn-success btn-xs' %>
          <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-warning btn-xs' %>
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
      </div>
      </td>

      </tr>
    <% end %>
  </tbody>
</table>

</div>
