
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.complete %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.date.try(:strftime, "%m/%d/%Y") %>
</p>

<h4>Comments</h4>

<hr>

<% @task.comments.each do |comment| %>
  <%= comment.comment %><br>
  <% end %>

  <%= form_for(@comment) do |f| %>
    <%= f.text_area :comment %>
    <%= hidden_field_tag :task_id, @task.id %>
    <%= hidden_field_tag :project_id, @project.id %>
    <%= f.submit %>
    <% end %>

<%= link_to 'Edit', edit_project_task_path(@project, @task) %> |
<%= link_to 'Back', project_tasks_path %>
