
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.complete %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.date.try(:strftime, "%m/%d/%Y") %>
</p>

<h4>Comments</h4>

<hr>

  <% @task.comments.each do |comment| %>
  <%= comment.comment %><br>
  <% end %>

  <%= form_for @comment do |f| %>
  <%= f.label :comment %>
  <%= f.text_area :comment %>
  <% end %>


<%= link_to 'Edit', edit_project_task_path(@project, @task) %> |
<%= link_to 'Back', project_tasks_path %>
