<div class="page-header">
  <h3><%= title %></h3>
</div>

<%= form_for(@user, :html => {class: "form-horizontal"}) do |f| %>

<div class="row">
  <div class="col-sm-offset-2 col-sm-4">
    <%= render "shared/error", instance: @user %>
  </div>
</div>

<div class="form-group">
  <%= f.label :first_name, class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :last_name, class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :email, class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
    <%= f.text_field :email, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :password, class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
    <%= f.password_field :password, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
    <%=  f.password_field :password_confirmation, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :pivotal_tracker_token, "Pivotal Tracker Token", class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
    <%= f.text_field :pivotal_tracker_token, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :admin, class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
    <%= f.check_box :admin %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit :class => "btn btn-info btn-sm" %>
    <%= link_to "Cancel", users_path, class: 'btn btn-default btn-sm' %>
  </div>
</div>
<% end %>
