<div class="page-header">
  
  <div class="pull-right">
    <% if current_user == @user %>
    <%= link_to "Edit", edit_user_path, :class => "btn btn-info btn-sm" %>
    <%= link_to "Cancel", users_path, class: 'btn btn-default btn-sm' %>
    <% end %>
  </div>

  <h3><%= @user.full_name %></h3>
</div>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= mail_to @user.email %>
</p>

<p>
  <strong>Pivotal Tracker Token:</strong>
  <% if @user.pivotal_tracker_token %>
  <%= "#{@user.pivotal_tracker_token[0..3]}*****************************" %>
  <% end %>
</p>
